<div class="content">
    <header>
        <h1># Serveurs</h1>
    </header>
    <div class="container">
        <main>
            <div class="message">
                <div class="head">
                    <div class="photo"></div>
                    <h4>Willix</h4>
                </div>
                <div class="msg-content">
                    <span>10:21</span>
                    <p>Salut tout le monde ! Quelqu'un a testé la nouvelle feature de partage d'écran ?</p>
                </div>
            </div>
            <div class="message">
                <div class="head">
                    <div class="photo"></div>
                    <h4>LeizeWk</h4>
                </div>
                <div class="msg-content">
                    <span>10:56</span>
                    <p>Hey Willix ! Oui je l'ai essayée hier soir, c'est vraiment fluide</p>
                </div>
            </div>
            <div class="message">
                <div class="head">
                    <div class="photo"></div>
                    <h4>LeizeWk</h4>
                </div>
                <div class="msg-content">
                    <span>10:56</span>
                    <p>Par contre j'ai eu un petit bug avec le son, ça coupait de temps en temps</p>
                </div>
            </div>
            <div class="message">
                <div class="head">
                    <div class="photo"></div>
                    <h4>Willix78</h4>
                </div>
                <div class="msg-content">
                    <span>11:06</span>
                    <p>Ah interessant, moi j'ai pas eu ce problème Tu étais sur quel navigateur ?</p>
                </div>
            </div>
            <div class="message">
                <div class="head">
                    <div class="photo"></div>
                    <h4>LeizeWk</h4>
                </div>
                <div class="msg-content">
                    <span>11:07</span>
                    <p>Firefox, version la plus récente</p>
                </div>
            </div>
            <div class="message">
                <div class="head">
                    <div class="photo"></div>
                    <h4>NeyzRead</h4>
                </div>
                <div class="msg-content">
                    <span>21:08</span>
                    <p>Salut les gars ! J'arrive un peu en retard dans la conv</p>
                </div>
            </div>
            <div class="message">
                <div class="head">
                    <div class="photo"></div>
                    <h4>Abel</h4>
                </div>
                <div class="msg-content">
                    <span>21:56</span>
                    <p>Globalement oui, quelques petits ajustements à faire mais c'est déjà très utilisable</p>
                </div>
            </div>
        </main>
        <div class="input-chat">
            <textarea
                placeholder="Envoyer un message..."
            ></textarea>
        </div>
    </div>
</div>