.content {
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-2xl);
    height: 3.75rem;
    border-bottom: 2px solid var(--bg-secondary);
}

article {
    height: calc(100vh - 3.75rem);
}

form {
    padding: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.inputs div {
    display: flex;
    align-items: center;
}

input {
    margin: var(--spacing-lg);
    height: 3rem;
    width: 20rem;
}

.error {
    font-size: 0.85rem;
    color: var(--error);
    letter-spacing: 0.03rem;
}

.pwdRequire {
    font-size: 0.85rem;
    color: var(--text-secondary);
    letter-spacing: 0.03rem;
    width: 43%;
}

button {
    margin: var(--spacing-lg);
    height: 3rem;
    width: 15rem;

    &:disabled {
        color: var(--text-secondary);
        
        &:hover {
            background-color: var(--bg-input);
        }
    }
}

label {
    letter-spacing: 0.05rem;
}

.submit {
    display: flex;
    flex-direction: row-reverse;
}