<div class="content">
    <header>
        <h1># Inscription</h1>
    </header>
    <article>
        <form [formGroup]="formGroup" (submit)="onSubmit($event)">
            <div class="inputs">
                <div class="email">
                    <label for="email">Email : </label>
                    <input 
                        id="email"
                        placeholder="Saisir votre email" 
                        type="email" 
                        formControlName="email">
                    <div *ngIf="isFieldValid('email')" class="error">
                        <div *ngIf="formGroup.get('email')?.hasError('required')">*Ce champ est requis</div>
                        <div *ngIf="formGroup.get('email')?.hasError('email')">*Ce champ nécessite un email valide</div>
                    </div>
                </div>
                <div class="password">
                    <label for="password">Mot de passe : </label>
                    <input 
                        id="password"
                        placeholder="Saisir votre mot de passe" 
                        type="password" 
                        formControlName="password">
                    <div *ngIf="isFieldValid('password'); else elseBlock" class="error">*Ce champ est requis</div>
                    <ng-template #elseBlock>
                        <div class="pwdRequire">*Le mot de passe doit contenir au minimum : 12 caractères, 1 majuscule, 1 minuscule, 1 caractère spécial.</div>
                    </ng-template>
                </div>
                <div class="pwdConfirm">
                    <label for="pwdConfirm">Mot de passe : </label>
                    <input 
                        id="pwdConfirm"
                        placeholder="Saisir à nouveau votre mot de passe" 
                        type="password" 
                        formControlName="pwdConfirm">
                    <div *ngIf="isFieldValid('pwdConfirm')" class="error">*Ce champ est requis</div>
                </div>
                <div class="pseudo">
                    <label for="pseudo">Pseudo : </label>
                    <input 
                        id="pseudo"
                        placeholder="Saisir votre pseudo" 
                        type="text" 
                        formControlName="pseudo">
                    <div *ngIf="isFieldValid('pseudo')" class="error">*Ce champ est requis</div>
                </div>
            </div>
            <div class="submit">
                <button type="submit" [disabled]="formGroup.invalid">S'inscrire</button>
            </div>
        </form>
    </article>
</div>