server {
    listen 80;
    server_name ${SERVER_NAME};

    location / {
        proxy_pass http://frontend:4200;

        proxy_set_header Host $host;
    }

    location /api {
        proxy_pass http://backend:3000;

        proxy_set_header Host $host;
    }

    location /socket.io {
        proxy_pass http://backend:3000;

        proxy_set_header Host $host;
    }
}