server {
    listen 80;
    server_name piscord.me;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name piscord.me;

    ssl_certificate /etc/letsencrypt/live/piscord.me/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/piscord.me/privkey.pem;

    location / {
        proxy_pass http://frontend:4200;

        proxy_set_header Host $host;
    }

    location /api {
        proxy_pass http://backend:3000;

        proxy_set_header Host $host;
    }

    location /socket.io {
        proxy_pass http://backend:3000;

        proxy_set_header Host $host;
    }
}