.content {
    display: flex;
    width: 100%;
    height: 100vh;
}

aside {
    width: 33.3%;
    border-right: 2px solid var(--bg-secondary);
}

header {
    height: 2.5rem;
    padding: var(--spacing-sm);
    border-bottom: 2px solid var(--bg-secondary);
}

a {
    text-decoration: none;
}

section {
    display: flex;
}

.users, .channels {
    margin-left: var(--spacing-sm);
    flex: 1;
    height: calc(100vh - 2.5rem);
}

.users {
    border-right: 2px solid var(--bg-secondary);
    display: flex;
    flex-direction: column;
    height: calc(100vh - header-height);
}

main {
    width: 100%;
}

.title {
    height: 2rem;
    display: flex;
    align-items: center;
}

article {
    padding: var(--spacing-sm) 0;
}

article a, article li {
    margin: 0 var(--spacing-md);
    height: 2rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.05rem;
    color: var(--text-secondary);
    font-size: 0.8125rem;

    &.active {
        color: var(--text-primary);
    }
}

.top {
    flex: 1;
}

.settings {
    margin-top: auto;
    padding: var(--spacing-md);
    border-top: 2px solid var(--bg-secondary);
}

.settings a {
    color: var(--text-secondary);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    
    &:hover {
        color: var(--text-primary);
    }
    
    &.active {
        color: var(--text-primary);
    }
}