<div class="content">
    <header>
        <h1># Salons</h1>
    </header>
    <div class="container">
        <aside>
            <section>
                <div class="title">
                    <h3>ACTIONS</h3>
                </div>
                <article>
                    <a routerLink="list" routerLinkActive="active"># Lister</a>
                    <a routerLink="create" routerLinkActive="active"># Créer</a>
                </article>
            </section>
        </aside>
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>