<div class="content">
    <header>
        <h1># Profil</h1>
    </header>
    <div class="container">
        <form>
            <div class="inputs">
                <div class="name">
                    <label for="name">Nom : </label>
                    <input 
                        id="name" 
                        name="name"
                        type="text"
                        [value]="name">
                </div>
            </div>
            <div class="submit">
                <button type="submit" [disabled]="true">Modifier</button>
            </div>
        </form>
    </div>
</div>