<div class="content">
    <header>
        <h1># Serveurs</h1>
    </header>
    <div class="container">
        <aside>
        <section>
            <div class="title">
                <h3>ACTIONS</h3>
            </div>
            <article>
                <a routerLink="/home/server/list" routerLinkActive="active"># Lister</a>
                <a routerLink="/home/server/create" routerLinkActive="active"># Créer</a>
                <a routerLink="/home/server/join" routerLinkActive="active"># Rejoindre</a>
            </article>
        </section>
        </aside>
        <router-outlet></router-outlet>
    </div>
</div>