.content {
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-2xl);
    height: 3.75rem;
    border-bottom: 2px solid var(--bg-secondary);
}

aside {
    width: 22.5%;
    height: 100vh;
    border-right: 2px solid var(--bg-secondary);
}

article {
    height: calc(100% - 3.75rem - 6rem);
}

a {
    text-decoration: none;
}

section {
    padding: var(--spacing-sm);
}

main {
    width: 100%;
}

.title {
    height: 2rem;
    display: flex;
    align-items: center;
}

article {
    padding: 0 var(--spacing-md);
}

article a {
    margin: var(--spacing-md);
    height: 2rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.05rem;
    color: var(--text-secondary);
    font-size: 0.875rem;

    &.active {
        color: var(--text-primary);
    }
}

.container {
    display: flex;
    flex-direction: row;
}