<div class="content">
    <aside>
        <header>
            <a routerLink="/home">
                <h2>Piscord</h2>
            </a>
        </header>
        <section>
            <div class="title">
                <h3>Catégories</h3>
            </div>
            <article>
                <a routerLink="/home/profile" routerLinkActive="active"># Profil</a>
                <a routerLink="/home/server" routerLinkActive="active"># Serveurs</a>
                <a (click)="onDisconnect()"># Déconnexion</a>
            </article>
        </section>
    </aside>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>